.contactsItem {
  gap: 10px;
  align-items: center;
  display: flex;
}
.contactsText {
  font-size: 22px;
}

.contactsBtn {
  transition: color 250ms linear, background-color 250ms linear;
  &:hover {
    background-color: white;
    color: black;
  }
}
