.filterTitle {
  width: fit-content;
  font-size: 36px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.contactsLabel {
  margin: 0 auto;
  margin-bottom: 60px;

  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.contactsInput {
  margin-top: 5px;
  width: 150px;
}
