.filterTitle {
  font-size: 32px;
  margin-bottom: 25px;
}
.contactsLabel {
  margin-bottom: 40px;
  font-size: 500;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.contactsInput {
  margin-top: 5px;
  width: 150px;
}
